<appSettings>
  <add key="FacebookId" value ="368276273626830"/>
  <add key="FacebookSecret" value ="d61df560ab2274f9326b9bb1e97a53fc"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
